.wrapper {
    width: 400px;
    background: white;
    color: black;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.wrapper h1 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 10px;
    color:black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: gray;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 4px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.Login {
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    border: none;
    border-radius: 40px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
}

.wrapper .register-link {
    font-size: 12px; 
    text-align: center;
    margin-top: 20px;
}

.RegisterButton {
    border: none ; 
    background-color: white ;
}

.ForgotPassword {
    border: none ; 
    background-color: white ;
    font-size: 12px ; 
}