.ProfileHeader {
    position: fixed;
    top: 20px ;
    left: 20px ;
}

.Logout {
    position: fixed ; 
    top: 10px ; 
    right: 10px ; 
    padding: 10px ;
    border: 1px solid gray;
    border-radius: 20px;
}