.App {
    background-color: white ;
    padding: 40px ; 
    color: black
}

.ProfileHeader {
    background-color: rgba(0, 153, 255, 0.69) ;
    color: black;
    padding: 20px ; 
}

.Logout { 
    margin: 10px ;
    float: right ;
}

.Dates {
    width: 100px ; 
    height: 400px ; 
    background-color: rgba(0, 153, 255, 0.3) ;
    margin: left ; 
    padding: 20px ; 
    font-size: medium;
    line-height: 1.5 ;
}